@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
  /* zinc */
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
}

@theme inline {
  --default-font-family: "IBM Plex Sans", sans-serif;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}
